<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="main.js"></script>
</head>
<body>
  <h1>Hello</h1>
  <div class="flex1" >
    <div>
    
    <canvas id="myChart" ></canvas></div>
    <div>
  <canvas id="Chart1" ></canvas></div>
  </div>
  
  <div class="flex2">
    <div>
      <canvas id="Chart" ></canvas></div>
      <div>
  <canvas id="Chart2" ></canvas></div>
  </div>
</body>
</html>